/* Fonts */
@font-face {
  font-family: "Raleway-Regular400";
  src: url("/assets/fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Medium500";
  src: url("/assets/fonts/Raleway/static/Raleway-Medium.ttf");
}

/* title hg */
@font-face {
  font-family: "Respondent-Black";
  src: url("/assets/fonts/RespondentBlack.ttf");
}

/* titles */
@font-face {
  font-family: "Syncopate-Bold";
  src: url("/assets/fonts/Syncopate-Bold.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Light";
  src: url("/assets/fonts/RedHatDisplay-Light.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("/assets/fonts/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src: url("/assets/fonts/RedHatDisplay-Bold.ttf");
}


.prueba{
  background-color: #111827;
}
/* Variable Colors #091018 color oscuro nav */
:root {
  --dark: #091018;
  --dark-oil: #192430;
  --oil: #192430;
  --blue-dark: #090f1b;
  --lightest-oil: #243447;
  --lightest-slate: #f5f5f5;
  --hg-gold: #FFED69;
  --hg-gold-2: #756713;
  --green: #1da058;
  --bright-turquoise: #32e6e2;
  --text-title-shadow: 2px 2px 4px #000000;
}

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
  font-family: "RedHatDisplay-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-shadow:
  0 1px 2px rgba(0, 0, 0, 0.15),
  0 2px 6px rgba(0, 0, 0, 0.10);
  color: var(--lightest-slate);
  background-color: var(--blue-dark);
}
/* nav shadow off */
nav li a {
  text-shadow: none;
}

/* -------- */

/* MyClases */

.hg-title {
  font-family: "Respondent-Black", sans-serif;
  font-weight: 900;
  font-size: 73px;
  text-shadow: var(--text-title-shadow);
  color: var(--lightest-slate);
}
.hg-subtitle {
  font-family: "RedHatDisplay-Bold", Helvetica, Arial, Lucida, sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.hg-subtitle--dark {
  color: var(--dark-oil);
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3960784314); */
}

.hg-text-dark {
  font-family: "RedHatDisplay-Regular", Helvetica, Arial, sans-serif;
  color: var(--blue-dark);
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); */
}

.scrollReveal {
  opacity: 0;
  transition: all 0.9s;
}
/* ------- */

/* General button */
.button {
  display: inline-block;
  border: none;
  padding: 9px 1.5rem;
  margin: 4px 2px;
  color: var(--blue-dark);
  background-color: var(--bright-turquoise);
  font-family: "RedHatDisplay-Bold", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: inline-block;
 /*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* button top */
.button--top { /* metodo para heredar propiedades del boton base a traves de html */
  position: fixed;
  bottom: 20px;
  right: 10px;  
  z-index: 99;
  padding: 9px 14px;
}

.button img {
  width: 25px;
}

#buttonUp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;

  transform: translateX(120%); /* 🔥 SIEMPRE fuera */
  opacity: 0;

  transition: transform 0.4s ease, opacity 0.3s ease;
}

/* ESTADO VISIBLE */
#buttonUp.show {
  transform: translateX(0);
  opacity: 1;
}

/* --------- */



.subtitle-slate {
  font-size: 50px;
  color: var(--lightest-slate);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3960784314);
}

.slate-txt {
  color: var(--lightest-slate);
}

.dark-oil-txt {
  color: var(--dark-oil);
}

.lightest-oil-txt {
  color: var(--lightest-oil);
}

.bg-blue-dark {
  background-color: var(--blue-dark);
}
.oil-txt {
  color: var(--oil);
}

.bg-black {
  background-color: var(--dark);
}

.bg-dark-oil {
  background-color: var(--dark-oil);
}

.bg-lightest-oil {
  background-color: var(--lightest-oil);
}

.bg-oil {
  background-color: var(--oil);
}

.bg-lightest-slate {
  background-color: var(--lightest-slate);
}

.navy-shadow {
  box-shadow: 0px 9px 9px 2px rgba(0, 0, 0, 0.329);
}

.bs-inset {
  box-shadow: 0px 9px 9px 2px rgba(0, 0, 0, 0.329) inset;
}

.slate-bb {
  border-bottom: 1px solid #f5f5f596;
}

/* ---------- */


/* Loader */
.centrado {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-oil);
  z-index: 9999;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

.disppear {
  animation: vanish 0.5s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* --------------- */

/* Navbar */
.nav-pc {
  position: fixed; /* debe tener position para el z-index / relative para animar*/
  width: 100%;
  height: 68px;
  background-color: var(--blue-dark);
  z-index: 4;

  /* transition: transform 0.4s ease, background-color 0.3s ease; */
}

.nav-pc .nav-links li {
  list-style-type: none;
}

.nav-pc .nav-links a {
  font-size: 85%;
  padding: 0 15px;
  text-decoration: none;
  color: var(--lightest-slate);
  font-weight: bold;
}

.logo {
  text-decoration: none;
}

/* Navbar sticky desde ABOUT para js */
/* .show-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  transform: translateY(0);
  animation: slideDown 0.4s ease;
} */

/* .nav-exit {
  transform: translateY(-100%);
} */

/* nav in animation */
/* @keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
} */

/* Hamburguer mobile */
.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  display: block;
  background-color: #f3f3f3;
  height: 1px;
  width: 21px;
  margin: 6px auto;
  border-radius: 2px;
}

.nav-links.activate {
  transform: translateX(0);
  opacity: 1;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.br-2.animado {
  opacity: 0;
}

.br-3.animado {
  transform: rotate(45deg) translate(-5px, -5px);
}

.ham.girar {
  transform: rotate(360deg);
}

/* ---------- */

/* Nav Responsive */
body.menu-open {
  overflow: hidden;
}

@media (max-width: 768px) {

  .nav-pc {
    height: 60px;
  }

  .nav-pc .hg-title {
    font-size: 1.5rem;
    /* text-shadow: 0px 1px 1px #000000; */
    text-shadow:
      0 2px 8px rgba(0, 0, 0, 0.6),
      0 1px 2px rgba(0, 0, 0, 0.8);
    /* text-decoration: none; */
  }

  .ham {
    display: block;
    cursor: pointer;
    transition: 0.2s 0.1s;
  }

  .nav-links {
    background-color: var(--lightest-slate);
    position: absolute;

    top: 60px;
    left: 0;
    width: 45%;
    height: 220px;
    padding: 25px 0;
    /* puedes ajustar */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

   

    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav-pc .nav-links a {
    color: var(--oil);
  }
}

/* @keyframes showMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */
/* ---------- */


/* Home */
.bg-truck {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.bg-truck::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: url(/assets/img/overlay.jpg) center/cover no-repeat;
  
  
  filter:
    blur(1px)
    brightness(1)
    saturate(0.7)
    contrast(1.1);

  z-index: -2;
}

.bg-truck::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(180deg,
      rgba(5, 10, 25, 0.85) 0%,
      rgba(5, 10, 25, 0.6) 40%,
      rgba(5, 10, 25, 0.4) 70%,
      rgba(5, 10, 25, 0.2) 100%);

  z-index: -1;
}
/* ------- */

/* About */
.about-top {
  position: relative;
  width: 100%;
  min-height: 30vh;
  min-height: 30svh;
  background: rgba(5, 10, 25, 0.85) 100%;
}

.about-bottom {
  position: relative;
  width: 100%;
  min-height: 70vh;
  min-height: 70svh;
  overflow: hidden;
}
/*  --blue-dark: #090f1b; */
.about-bottom::before {
  content: "";
  position: absolute;
  inset: 0px;
 
  background: 
    linear-gradient(180deg,
      rgba(5, 10, 25, 0.4) 0%,
      rgba(5, 10, 25, 0.6) 40%,
      rgba(5, 10, 25, 0.4) 70%,
      rgba(5, 10, 25, 1) 100%), /* Terminamos en sólido para conectar con lo que sigue */
  url(/assets/img/containers.png) center/cover no-repeat;

  
  filter:
    blur(0.5px)
    brightness(0.9)
    saturate(0.8)
    contrast(1.1);

  z-index: -3;
}

/* MOBILE: logo como fondo */
@media (max-width: 767px) {

  .about-top {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .about-top::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url('/assets/img/logo-rounded.svg') center/cover no-repeat;
    background-size: 80%;

    opacity: 0.08;
    z-index: -1;
  }
}
/* ------ */

/* Nuestros servicios */
.hg-services {
  min-height: 360px;
}

.card-service {
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), 
              box-shadow 0.4s ease, 
              border-color 0.3s ease;
  position: relative; /* Importante para el z-index */
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Borde base para que el hover funcione */
}

/* Estado Hover: EXPANSIÓN */
.card-service:hover {
  transform: scale(1.03); 

  z-index: 1; 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4), 
              0 0 15px rgba(50, 230, 226, 0.2);
  border-color: var(--bright-turquoise);
}
/* ------ */

/* CONTACT FORM */
/* styles input focus */
.custom-input:focus {
  border-color: var(--bright-turquoise);
  box-shadow: 0 0 0 0.25rem rgba(50, 230, 226, 0.25);
  background-color: #fff;
  outline: 0;
}

.btn-form-submit {
  transition: transform 0.3s ease, background-color 0.3s ease;
  min-width: 150px;
}

.btn-form-submit:hover {
  transform: scale(1.05);
  color: var(--blue-dark);
}

.custom-input::placeholder {
  color: #a0a0a0;
  font-size: 0.9rem;
  opacity: 0.7;
}

.bg-contact {
  display: block;
  /* La mostramos (estaba d-none en móvil por clase de bootstrap) */
  position: relative;
  /* REQUISITO: Para que el degradado se pegue aquí */
}

/* Overlay */
.bg-contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;

  background: linear-gradient(to bottom, rgb(44 47 51) 0%,
      rgb(17 18 18 / 40%) 40%,
      transparent 80%
    );
  pointer-events: none;
}

/* --- modible behavior (background cover) --- */
.bg-contact-mobile {
  position: relative;
  z-index: 1;
}

.bg-contact-mobile::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url('/assets/img/contact-image-truck.jpg') center/cover no-repeat; 
  opacity: 0.08;
  z-index: -1;
}

/* --- desktop behavior (side pic) --- */
@media (min-width: 768px) {
  /* Quitamos el fondo sutil en PC para que no se vea doble */
  .bg-contact-mobile::before {
    display: none;
  }
}
/* ---------- */

/* FOOTER */




/* All site media querys adjusts */
@media (max-width: 768px) {

  
}

/* ---------- */








/* Helpers */
.red {
  border: 2px solid red;
}

.green {
  border: 2px solid green;
}

.blue {
  border: 2px solid blue;
}

.yellow {
  border: 2px solid yellow;
}

.cyan {
  border: 2px solid cyan;
}

.purple {
  border: 2px solid purple;
}

.fluor-green {
  border: 2px solid rgb(9, 230, 94);
}

.fucsia {
  border: 2px solid rgb(230, 9, 193);
}

.orange {
    border: 2px solid rgb(230, 134, 9);
}

.lemon {
  border: 2px solid rgb(198, 243, 0);

}