/* Fonts */
@font-face {
  font-family: "Raleway-Regular400";
  src: url("/assets/fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Medium500";
  src: url("/assets/fonts/Raleway/static/Raleway-Medium.ttf");
}

/* title hg */
@font-face {
  font-family: "Respondent-Black";
  src: url("/assets/fonts/RespondentBlack.ttf");
}

/* titles */
@font-face {
  font-family: "Syncopate-Bold";
  src: url("/assets/fonts/Syncopate-Bold.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Light";
  src: url("/assets/fonts/RedHatDisplay-Light.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("/assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src: url("/assets/fonts/RedHatDisplay-Bold.ttf");
}



/* Variable Colors #091018 color oscuro nav */
:root {
  --dark: #091018;
  --dark-oil: #192430;
  --oil: #192430;
  --lightest-oil: #2c3e50;
  --lightest-slate: #f5f5f5;
  --hg-gold: #FFED69;
  --hg-gold-2: #756713;
  --green: #1da058;
  --blue-dark: #090f1b;
  --bright-turquoise: #32e6e2;
  --text-title-shadow: 2px 2px 4px #000000;
}

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "RedHatDisplay-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--lightest-slate);
}
/* -------- */

/* MyClases */

.hg-title {
  font-family: "Respondent-Black", sans-serif;
  font-weight: 900;
  font-size: 73px;
  text-shadow: var(--text-title-shadow);
  color: var(--lightest-slate);
}

.subtitle {
  font-family: "RedHatDisplay-Bold", Helvetica, Arial, Lucida, sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.main {
  margin-top: -68px;
  z-index: -1;
}

.scrollReveal {
  opacity: 0;
  transition: all 0.9s;
}
/* ------- */

/* General button */
.button {
  border: none;
  padding: 9px 1.5rem;
  margin: 4px 2px;
  color: var(--blue-dark);
  background-color: var(--bright-turquoise);
  font-family: "RedHatDisplay-Bold", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: inline-block;
 /*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover {
/*   background-color: var(--blue-dark);
  color: var(--lightest-slate); */
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* button top */
.button--top { /* metodo para heredar a traves de html */
  position: fixed;
  bottom: 20px;
  right: 10px;  
  z-index: 99;
  padding: 9px 14px;
}

.button img {
  width: 25px;
}

#buttonUp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;

  transform: translateX(120%); /* 🔥 SIEMPRE fuera */
  opacity: 0;

  transition: transform 0.4s ease, opacity 0.3s ease;
}

/* ESTADO VISIBLE */
#buttonUp.show {
  transform: translateX(0);
  opacity: 1;
}

/* --------- */

.p-tb {
  padding: 150px 0;
}

.subtitle-oil {
  font-size: 50px;
  color: var(--dark-oil);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3960784314);
}

.subtitle-slate {
  font-size: 50px;
  color: var(--lightest-slate);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3960784314);
}

.slate-txt {
  color: var(--lightest-slate);
}

.dark-oil-txt {
  color: var(--dark-oil);
}

.lightest-oil-txt {
  color: var(--lightest-oil);
}

.oil-txt {
  color: var(--oil);
}

.bg-black {
  background-color: var(--dark);
}

.bg-dark-oil {
  background-color: var(--dark-oil);
}

.bg-lightest-oil {
  background-color: var(--lightest-oil);
}

.bg-oil {
  background-color: var(--oil);
}

.bg-lightest-slate {
  background-color: var(--lightest-slate);
}

.navy-shadow {
  box-shadow: 0px 9px 9px 2px rgba(0, 0, 0, 0.329);
}

.bs-inset {
  box-shadow: 0px 9px 9px 2px rgba(0, 0, 0, 0.329) inset;
}

.slate-bb {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* ---------- */


/* Loader */
.centrado {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-oil);
  z-index: 9999;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

.disppear {
  animation: vanish 0.5s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* --------------- */

/* Navbar */
.nav-pc {
  position: relative; /* debe tener position para el z-index */
  height: 68px;
  background-color: var(--dark);
  z-index: 2;

  transition: transform 0.4s ease, background-color 0.3s ease;
}

.nav-pc .nav-links li {
  list-style-type: none;
}

.nav-pc .nav-links a {
  font-size: 85%;
  padding: 0 15px;
  text-decoration: none;
  color: var(--lightest-slate);
  font-weight: bold;
}

.logo {
  text-decoration: none;
}

/* Navbar sticky desde ABOUT */
.show-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  transform: translateY(0);
  animation: slideDown 0.4s ease;
}

.nav-exit {
  transform: translateY(-100%);
}
/* nav in animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Hamburguer mobile */
.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  display: block;
  background-color: #f3f3f3;
  height: 1px;
  width: 21px;
  margin: 6px auto;
  border-radius: 2px;
}

.nav-links.activate {
  transform: translateX(0);
  opacity: 1;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.br-2.animado {
  opacity: 0;
}

.br-3.animado {
  transform: rotate(45deg) translate(-5px, -5px);
}

.ham.girar {
  transform: rotate(360deg);
}

/* ---------- */

/* Nav Responsive */
body.menu-open {
  overflow: hidden;
}

@media (max-width: 768px) {

  .main {
    margin-top: -60px;
    z-index: -1;
  }

  .nav-pc {
    height: 60px;
  }

  .nav-pc .hg-title {
    font-size: 1.5rem;
    /* text-shadow: 0px 1px 1px #000000; */
    text-shadow:
      0 2px 8px rgba(0, 0, 0, 0.6),
      0 1px 2px rgba(0, 0, 0, 0.8);
    /* text-decoration: none; */
  }

  .ham {
    display: block;
    cursor: pointer;
    transition: 0.2s 0.1s;
  }

  .nav-links {
    background-color: var(--lightest-slate);
    position: absolute;

    top: 60px;
    left: 0;
    width: 40%;
    /* puedes ajustar */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 180px;
    padding: 20px 0;

    transform: translateX(-100%);
    opacity: 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav-pc .nav-links a {
    color: var(--oil);
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* ---------- */


/* Home */
.bg-truck {
  position: relative;
   min-height: 100vh;
  overflow: hidden;
}

.bg-truck::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(/assets/img/overlay.jpg) center/cover no-repeat;
  
  /* modified */
  filter:
    blur(2.5px)
    brightness(1)
    saturate(0.7)
    contrast(1.1);

  transform: scale(1.05);
  /* evita bordes blancos */
  z-index: -2;

  /* parallax effect */
  /* transform: translateY(var(--parallax, 0)) scale(1.05); */
}

.bg-truck::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(180deg,
      rgba(5, 10, 25, 0.85) 0%,
      rgba(5, 10, 25, 0.6) 40%,
      rgba(5, 10, 25, 0.4) 70%,
      rgba(5, 10, 25, 0.2) 100%);

  z-index: -1;
}
/* ------- */

/* About */
.about-top {
  position: relative;
  min-height: 40vh;
  background-color: #192430;
  z-index: -1;
}

/* fade */
/* .about-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -200px;
  height: 200px;

  background: linear-gradient(to bottom,
        rgba(25, 36, 48, 1) 0%,
        rgba(25, 36, 48, 0) 100%);
  pointer-events: none;
} */



.about-bottom {
  position: relative;
  min-height: 60vh;
   overflow: hidden;
}

.about-bottom::before {
  content: "";
  position: absolute;
  inset: 0;

  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('/assets/img/containers.png');
  background-size: cover;
  background-position: center;
  
  filter:
    blur(1px)
    brightness(1)
    saturate(0.7)
    contrast(1.1);

  transform: scale(1.05);

  z-index: -3;
}

/* MOBILE: logo como fondo */
@media (max-width: 767px) {
  .about-top {
    position: relative;
    z-index: 1;
  }

  .about-top::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url('/assets/img/logo-rounded.svg') no-repeat center;
    background-size: 80%;

    opacity: 0.08;
    z-index: -1;
  }
}


/* @media (max-width: 768px) {
  .about-top,
  .about-bottom {
    min-height: auto;
  }
} */


.padding-about {
  padding: 150px 0;
}

.card-title {
  font-size: 16px;
}

.marketing {
  z-index: 9999;
}

.marketing .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-3 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.bg-contact {
  /* min-height: 400px; */
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.9), transparent 360px),
    url("../img/contact-image-truck.jpg");
  background-size: cover;
  background-position: center center;
}

/* ---------- */

/* All site media querys adjusts */
@media (max-width: 768px) {
  * {
    font-size: 0.8125rem;
  }

  .subtitle-oil {
    font-size: 34px;
  }

  .subtitle-slate {
    font-size: 34px;
  }
}

/* ---------- */








/* Helpers */
.red {
  border: 2px solid red;
}

.green {
  border: 2px solid green;
}

.blue {
  border: 2px solid blue;
}

.yellow {
  border: 2px solid yellow;
}

.cyan {
  border: 2px solid cyan;
}

.purple {
  border: 2px solid purple;
}

.fluor-green {
  border: 2px solid rgb(9, 230, 94);
}

.fucsia {
  border: 2px solid rgb(230, 9, 193);
}

.orange {
    border: 2px solid rgb(230, 134, 9);
}

.lemon {
  border: 2px solid rgb(198, 243, 0);

}